<div class="post-preview">
  <div class="post-preview-main">
    <h3>{{post.title[:100]}}</h3>
    <p>{{post.username}}</p>
    {% if post.created_at != post.edited_at %} {{post.edited_at}} {% endif %}
  </div>
  <div class="post-preview-footer">
    <p>{{post.created_at.strftime("%d/%m/%y")}}</p>

    <div class="post-preview-buttons">
      <a href="view?id={{post.id}}">View</a>
      {% if url_for(request.endpoint) == '/posts' %}

      <a href="publish?id={{post.id}}"
        >{% if post.published == True %}Unpublish{% else %}Publish{% endif %}</a
      >
      {% if post.published != True %}
      <a href="delete?id={{post.id}}">Delete</a>
      {% endif %} {% endif %}
    </div>
  </div>
</div>
