<div>
  <h3>{{post.id, post.title}}</h3>
  <p>{{post.body}}</p>
  <p>created: {{post.created_at}}</p>
  <form action="/view" method="post">
    <input type="hidden" name="post-id" value="{{post.id}}" />
    <input type="submit" name="submit" value="View" />
  </form>
  {% if url_for(request.endpoint) == '/posts' %}
  <form action="/publish" method="post">
    <input type="hidden" name="post-id" value="{{post.id}}" />
    {% if post.published == True %}
    <input type="submit" name="submit" value="Unpublish" />
    {% else %}
    <input type="submit" name="submit" value="Publish" />
    {% endif %}
  </form>
  {% endif %}
</div>
