<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/style.css" />
    <title>My account</title>
    <link rel="icon" type="image/x-icon" href="static/imgs/favicon.ico" />
  </head>
  <body>
    {% include '_navbar.html' %} {% if 'user_id' in session %}
    <p>Welcome to your account area {{ session['username'] }}</p>
    <form action="/changepassword" method="post">
      <label
        >Current password<input type="password" name="currentpass" />
      </label>
      <label>New password<input type="password" name="newpass" /></label>

      <input type="submit" value="Submit" />
    </form>
    <a href="logout">Log out</a>
    <form action="/deleteaccount" method="post">
      You literally just have to press this button and your account and all
      posts will be deleted.
      <input type="submit" value="Delete account" />
    </form>
    {% endif %}
  </body>
</html>
